<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="HiddenSettings.config">
    <!--
      You'll need a config file named HiddenSettings.config which contains the appSettings values:
      <?xml version="1.0" encoding="utf-8" ?>
      <configuration>
        <appSettings>
          <add key="ApiKey" value="" />
        </appSettings>
      </configuration>
      
      I'm only hiding the sensitive data so I can check in to the public project without exposing my personal api key (which I'm terrible at remembering).
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>